<%- include('./partials/header.ejs')%>     
    <!--Main Content-->
    <main>
        <div class="index-content">
            <h3>
                <%= error.status %> Error
            </h3>
            <p>
                <%= error.message %>
            </p>
        </div>
    </main>

<%- include('./partials/footer.ejs')%>

        